<div class="profile-container" *ngIf="!loading">
  <div class="profile-wrapper">

    <!-- PERFIL PÚBLICO (outro usuário) -->
    
      <app-profile-header
       [profile]="profile"
        [displayImageUrl]="displayImageUrl"
       [isOwnProfile]="isOwnProfile"
        [favoritesCount]="favoritePosts.length"
         [writerPostsCount]="writerPosts.length"
         [imageJustUpdated]="imageJustUpdated"
        (photoSelected)="onFileSelected($event)"
         (imageLoaded)="onImageLoaded()">
      </app-profile-header>

      <app-profile-edit-form
      *ngIf="isOwnProfile && profile && isEditing"
      [profile]="profile"
      [userNameExists]="userNameExists"
      (formSubmit)="onSubmit($event)"
      (cancelEdit)="cancelEdit()"
      (deleteProfile)="onDeleteMyProfile()"
      >        
      </app-profile-edit-form>

    <!-- PERFIL PRÓPRIO (edição e visualização) -->
      <app-profile-edit-form
      *ngIf="isOwnProfile && isEditing"
      [profile]="profile"
      [userNameExists]="userNameExists"
      (formSubmit)="onSubmit($event)"
      (cancelEdit)="cancelEdit()"
      (deleteProfile)="onDeleteMyProfile()">
      </app-profile-edit-form>
    
      <app-profile-details
    *ngIf="!isEditing"
    [profile]="profile"
    [isOwnProfile]="isOwnProfile"
    (enableEditing)="enableEdit()">
      </app-profile-details>

   

    <!-- POSTS DO WRITER -->
    <app-favorites-section
    [favoritePosts]="favoritePosts"
    [writerPosts]="writerPosts"
    [profile]="profile"
    [isOwnProfile]="isOwnProfile"
    [favoritesLoading]="favoritesLoading"
    [activeFilter]="activeFilter"
    (filterChange)="filterFavorites($event)"
    (removeFavorite)="removeFavorite($event)">
  </app-favorites-section>

  </div>
</div>
