<div class="container mt-5">
    <h1 class="text-center mb-4">Blog Posts</h1>

    <!-- Botão de Adicionar Post -->
    <div class="d-flex justify-content-end mb-3">
        <a [routerLink]="['/admin/blogpost/add']" class="btn btn-primary">
             Add Blog Post
        </a>
    </div>

    <!-- Tabela Responsiva -->
    <div class="table-responsive">
        <ng-container *ngIf="blogPosts.length > 0; else loading">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date published
                            <span>
                                <span>
                                    <button class="sort-button" (click)="sort('date', 'asc')">
                                        <i class="bi bi-arrow-up-short"></i></button>
                                </span>
                               
                                <span> <button class="sort-button" (click)="sort('date', 'desc')">
                                    <i class="bi bi-arrow-down-short"></i></button></span>
                            </span>
                        </th>
                        <th>Short Description</th>
                        <th>Categories</th>
                        <th class="text-center">Visibility</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of blogPosts">
                        <td>{{ post.title }}</td>
                        <td>
                            <span *ngIf="post.author">{{ '@' + post.author.userName }}</span>
                            <span *ngIf="!post.author">Unknown</span>
                        </td>
                        <td>{{post.publishedDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ post.shortDescription }}</td>
                        <td >
                            <span *ngFor="let category of post.categories">
                                <span class="badge bg-secondary">{{category.name}}</span>

                            </span>
                        </td>
                        <td class="text-center"> <span *ngIf="post.isVisible; else hiddenIcon">   ✅ Visible   </span>
                            <ng-template #hiddenIcon>❌ Hidden</ng-template>
                        </td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center gap-2">
                                <a [routerLink]="['/admin/blogpost/details', post.id]" class="btn btn-sm btn-info">
                                    🔍 Details
                                  </a>
                                <a [routerLink]="['/admin/blogpost', post.id]" class="btn btn-sm btn-warning">
                                    ✏️ Edit
                                </a>
                                <button class="btn btn-sm btn-danger"(click)="onDelete(post)" >
                                    🗑️ Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="pagination-container mt-4">
                <ul class="pagination justify-content-center">
                  <li class="page-item" [class.disabled]="pageNumber === 1">
                    <a class="page-link" (click)="previousPage()">←</a>
                  </li>
              
                  <li
                    *ngFor="let page of totalPagesList"
                    class="page-item"
                    [class.active]="page === pageNumber"
                  >
                    <a class="page-link" (click)="getPage(page)">
                      {{ page }}
                    </a>
                  </li>
              
                  <li class="page-item" [class.disabled]="pageNumber === totalPagesList.length">
                    <a class="page-link" (click)="nextPage()">→</a>
                  </li>
                </ul>
              </nav>
        </ng-container>
    </div>

    <!-- Mensagem de Carregamento -->
    <ng-template #loading>
        <p class="text-center text-muted">🔄 Loading blog posts...</p>
    </ng-template>
</div>
