<div class="container mt-4">
    <h1 class="text-center mb-4"> Categories list</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="fw-light text-muted">Manage Categories</span>
        <a class="btn btn-primary btn-sm px-3" [routerLink]="['/admin/categories/add']">
            ➕ Add category
        </a>
    </div>

    <ng-container *ngIf="categories$ | async as categories; else loading">
        <table class="table table-hover table-striped shadow-sm rounded">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>URL Handle</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td class="text-center">{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.urlHandle}}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary btn-sm me-2" [routerLink]="['/admin/categories', category.id]">
                            ✏️ Edit
                        </a>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(category.id)">
                            🗑️ Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="categories.length === 0" class="alert alert-warning text-center mt-3">
            No cateogries on database.
        </div>
    </ng-container>

    <!-- Loader enquanto carrega -->
    <ng-template #loading>
        <div class="text-center my-5">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2">loading categories...</p>
        </div>
    </ng-template>
</div>
