<div class="container mt-5">
    <h2 class="text-center mb-4">📝 Adicionar Nova Postagem</h2>

    <form class="mb-5" #Form="ngForm" (ngSubmit)="onSubmit()">
        <!-- Título -->
        <div class="mb-3 ">
            <label for="title" class="form-label fw-bold">Title</label>
            <input type="text" 
            id="title" 
            class="form-control"
             [(ngModel)]="model.title"  
            name="title" 
            required>
        </div>

        <!-- Descrição Curta -->
        <div class="mb-3">
            <label for="shortDescription" class="form-label fw-bold">Short description</label>
            <input type="text" 
            id="shortDescription" 
            class="form-control" 
            name="shortDescription" 
            [(ngModel)]="model.shortDescription"
            required>
        </div>

        <!-- Conteúdo -->
        <div class="mb-3">
            <label for="content" class="form-label fw-bold">content</label>
            <textarea id="content" 
            class="form-control" 
            rows="6" 
             name="content"
             [(ngModel)]="model.content"
              required></textarea>
        </div>

        <!-- URL da Imagem Destacada -->
        <div class="mb-3">
            <label for="featuredImageUrl" class="form-label fw-bold">featured Image url</label>
            <input type="text" 
            id="featuredImageUrl"
             class="form-control" 
             [(ngModel)]="model.featuredImageUrl"
             name="featuredImageUrl">
        </div>

        <!-- Pré-visualização da Imagem -->
        <div  class="text-center mb-3">
            <img  class="img-fluid rounded shadow-sm" alt="Prévia da imagem" style="max-width: 400px;">
        </div>

        <!-- URL Handle -->
        <div class="mb-3">
            <label for="urlHandle" class="form-label fw-bold">URL Handle</label>
            <input type="text" 
            id="urlHandle" 
            class="form-control" 
             name="urlHandle" 
             [(ngModel)]="model.urlHandle"
             required>
        </div>

        <!-- Data de Publicação -->
        <div class="mb-3">
            <label for="publishedDate" class="form-label fw-bold">Published date</label>
            <input type="date" 
            id="publishedDate" 
            class="form-control" 
            value="{{model.publishedDate}}"
            [ngModel]="model.publishedDate | date: 'yyy-MM-dd'"
            (ngModelChange)="model.publishedDate= $event" 
            name="publishedDate" 
            required>
        </div>

        <!-- Autor -->
        <div class="mb-3">
            <label for="author" class="form-label fw-bold">Autor</label>
            <input type="text" 
            id="author" 
            class="form-control"
             name="author"
             [(ngModel)]="model.author"
             required>
        </div>

        <!-- Visibilidade -->
        <div class="form-check mb-4">
            <input class="form-check-input"
             type="checkbox"
              id="isVisible" 
              [(ngModel)]="model.isVisible"
              name="isVisible">
            <label class="form-check-label"
           
            for="isVisible">Publish this post?</label>
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" >❌ Cancel</button>
            <button type="submit" class="btn btn-primary">💾 Save post</button>
        </div>
    </form>
</div>
