<!-- blogdetails.component.html -->
<div class="blog-container">
  <div class="container">
    <div class="row">
      <!-- Coluna principal do post -->
      <div class="col-lg-8">
        <ng-container *ngIf="blogposts$ | async as blogpost">
          <article class="blog-post">
            <!-- Header do Post -->
            <div class="post-header">
           

              <h1 class="blog-post-title">{{ blogpost.title }}</h1>
              <!-- blogdetails.component.html -->
              <button 
              class="favorite-btn-compact" 
              [class.favorited]="isFavorited"
              [disabled]="isFavorited"
              *ngIf="isAuthenticated"
              (click)="addToFavorites()"
              [attr.aria-label]="isFavorited ? 'Post já salvo nos favoritos' : 'Adicionar aos favoritos'">
              <i class="bi" [class.bi-heart-fill]="isFavorited" [class.bi-heart]="!isFavorited"></i>
              <span class="favorite-text">
                  {{ isFavorited ? 'Salvo ✓' : 'Salvar' }}
              </span>
          </button>


              <!-- Meta info do autor -->
              <div class="author-meta">
                <div class="author-info">
                  <img [src]="userProfileService.getFullImageUrl(blogpost.author.imageUrl)" 
                  alt="Author avatar"
                    class="author-avatar">
                  <div class="author-details">
                    <a [routerLink]="['/profile', blogpost.author.userName]" class="author-name">
                      {{ blogpost.author.fullName }}
                    </a>
                    <span class="author-username">{{ '@' + blogpost.author.userName }}</span>
                    <time class="post-date">{{ blogpost.publishedDate | date: 'longDate' }}</time>
                  </div>
                </div>

                <!-- Botões de compartilhamento -->
                <div class="share-buttons">
                  <button class="share-btn" (click)="shareOnTwitter()">
                    <i class="bi bi-twitter"></i>
                  </button>
                  <button class="share-btn" (click)="shareOnFacebook()">
                    <i class="bi bi-facebook"></i>
                  </button>
                  <button class="share-btn" (click)="shareOnLinkedIn()">
                    <i class="bi bi-linkedin"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Imagem principal -->
            <div class="featured-image-container" *ngIf="blogpost.featuredImageUrl">
              <img [src]="blogpost.featuredImageUrl" alt="Imagem do post" class="featured-image">
            </div>

            <!-- Conteúdo do post -->
            <div class="blog-post-content markdown-container">
              <markdown [data]="blogpost.content"></markdown>
            </div>

            <!-- Tags do post -->
            <div class="post-tags" *ngIf="blogpost.categories?.length">
              <h4>Categorias:</h4>
              <div class="tags-container">
                <a *ngFor="let category of blogpost.categories" [routerLink]="['/category', category.urlHandle]"
                  class="tag">
                  {{ category.name }}
                </a>
              </div>
            </div>

            <!-- Seção de comentários -->
            <div class="comments-section">
              <h3>Comentários</h3>
              <div id="disqus_thread" class="disqus-container"></div>
            </div>
          </article>
        </ng-container>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar-container">
          <!-- Popular Posts -->
          <div class="sidebar-widget popular-posts">
            <h3 class="widget-title">Posts Populares</h3>
            <div class="posts-list">
              <div *ngFor="let post of mostViewedPosts" class="post-card">
                <div class="post-image">
                  <img [src]="post.featuredImageUrl" [alt]="post.title" loading="lazy">
                </div>
                <div class="post-info">
                  <h4>
                    <a [routerLink]="['/blog', post.urlHandle]">{{ post.title }}</a>
                  </h4>
                  <time>{{ post.publishedDate | date: 'mediumDate' }}</time>
                  <span class="views-count">
                    <i class="bi bi-eye"></i> {{ post.viewCount }} views
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Related Posts -->
          <div class="sidebar-widget related-posts" *ngIf="relatedPosts.length">
            <h3 class="widget-title">Posts Relacionados</h3>
            <div class="posts-list">
              <div *ngFor="let post of relatedPosts" class="post-card">
                <div class="post-image">
                  <img [src]="post.featuredImageUrl" [alt]="post.title" loading="lazy">
                </div>
                <div class="post-info">
                  <h4>
                    <a [routerLink]="['/blog', post.urlHandle]">{{ post.title }}</a>
                  </h4>
                  <time>{{ post.publishedDate | date: 'mediumDate' }}</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
