<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Criar Conta</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form" novalidate>
      
      <div class="form-group">
        <label for="userName">Nome de Usuário</label>
        <small *ngIf="userNameExists" class="text-danger">
          Esse nome de usuário já está em uso.
        </small>
        
        <input id="userName" type="text" formControlName="userName" [ngClass]="{ 'invalid': f['userName'].invalid && f['userName'].touched }">
        <small *ngIf="f['userName'].errors?.['required'] && f['userName'].touched" class="text-danger">Obrigatório.</small>
        <small *ngIf="f['userName'].errors?.['minlength'] && f['userName'].touched" class="text-danger">Mínimo 3 caracteres.</small>
      </div>

     
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" [ngClass]="{ 'invalid': f['email'].invalid && f['email'].touched }">
        <small *ngIf="f['email'].errors?.['required'] && f['email'].touched" class="text-danger">Obrigatório.</small>
        <small *ngIf="f['email'].errors?.['email'] && f['email'].touched" class="text-danger">insira um email valido</small>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          [ngClass]="{ 'invalid': f['password'].invalid && f['password'].touched }"
          (focus)="passwordFocused = true"
          (input)="validatePassword(f['password'].value)"
        >
      
        <ul class="password-criteria" *ngIf="passwordFocused">
          <li *ngFor="let item of criteriaList" [ngClass]="{ 'valid': item.valid }">
            <span
              class="check-icon"
              [ngClass]="{
                'loading': item.loading,
                'valid': item.valid
              }"
            ></span>
            {{ item.label }}
          </li>
        </ul>
      </div>
      

      

      <button class="auth-btn" type="submit" [disabled]="registerForm.invalid">
        Registrar
      </button>
    </form>

    <div class="auth-link mt-3">
      Já tem conta?
      <a routerLink="/login">Entrar</a>
    </div>

    <div *ngIf="message" class="text-center mt-3" [ngClass]="{ 'text-success': success, 'text-danger': !success }">
      {{ message }}
    </div>
  </div>
</div>
