<!-- writer-sidebar.component.html -->
<div class="d-flex flex-column p-3 bg-light border-end h-100">
    <h5 class="mb-4">Painel</h5>
  
    <button class="btn btn-outline-primary mb-2" (click)="selectSection('posts')">
      📝 Posts
    </button>
  
    <button class="btn btn-outline-primary mb-2" (click)="selectSection('categories')">
      🗂️ Categorias
    </button>
  
    <button class="btn btn-outline-primary" (click)="selectSection('profile')">
      🙍‍♂️ Atualizar Perfil
    </button>
  </div>
  