<div class="p-4">
  <h2>Criar novo usuário</h2>

  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <input formControlName="fullName" placeholder="Nome completo" />
    <input formControlName="userName" placeholder="Nome de usuário" />
    <input formControlName="email" placeholder="Email" />
    <textarea formControlName="bio" placeholder="Bio"></textarea>
    <input formControlName="password" type="password" placeholder="Senha" />
    <select formControlName="role" class="w-full p-2 border rounded">
      <option value="Writer">Writer</option>
      <option value="User">User</option>
    </select>
    
    

    <button type="submit">Criar usuário</button>

    <div *ngIf="successMessage" class="text-success mt-2">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="text-error mt-2">{{ errorMessage }}</div>
  </form>
</div>
