/* You can add global styles to this file, and also import other style files */
.image-container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0,0,0,0.1);
}
body {
    padding-top: 80px; /* Espaço para a navbar fixa */
}
.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5,
.markdown-container h6 {
  text-align: center !important;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #2c3e50;
}
