<div class="container mt-5">
    <h2 class="text-center mb-4">✏️ Edit Blog Post</h2>
    <form (ngSubmit)="onSubmit()">
      <ng-container *ngIf="blogPost">
        <!-- Título -->
        <div class="mb-3">
          <label class="form-label fw-bold">Title</label>
          <input type="text" class="form-control" [(ngModel)]="blogPost.title" name="title" required>
        </div>
    
        <!-- Short Description -->
        <div class="mb-3">
          <label class="form-label fw-bold">Short Description</label>
          <input type="text" class="form-control" [(ngModel)]="blogPost.shortDescription" name="shortDescription" required>
        </div>
    
        <!-- Content -->
        <div>
          <label for="content" class="form-label fw-bold">Content</label>
          <div class="row align-items-stretch">
            <!-- Editor -->
            <div class="col-md-6 p-2 flex-column">
              <textarea id="content"
                        class="form-control markdown-editor flex-grow-1"
                        style="height: 350px; max-height: 350px;"
                        name="content"
                        [(ngModel)]="blogPost.content">
              </textarea>
            </div>
            <!-- Preview -->
            <div class="col-md-6 p-2 preview-container d-flex flex-column" style="height: 350px; overflow-y: scroll;">
              <markdown [data]="blogPost.content"></markdown>
            </div>
          </div>
        </div>
    
        <!-- Featured Image URL com botão para selecionar imagem -->
        <div class="mb-3">
          <label class="form-label fw-bold">
            Featured Image URL
            <button type="button" class="btn btn-light" (click)="openImageSelector()">select image</button>
          </label>
          <input type="text" class="form-control" [(ngModel)]="blogPost.featuredImageUrl" name="featuredImageUrl">
          <!-- Preview da imagem -->
          <ng-container *ngIf="blogPost.featuredImageUrl">
            <div class="text-center mb-3">
              <img [src]="blogPost.featuredImageUrl" alt="Preview da imagem" class="img-fluid rounded shadow-sm" style="max-width: 400px;">
            </div>
          </ng-container>
        </div>
        <div class="mb-3 col-md-6 ">
          <label for="author" class="form-label fw-bold">Autor</label>
          <input type="text" 
          id="author" 
          class="form-control"
           name="author"
           [(ngModel)]="blogPost.author"
           required>
      </div>
    
        <!-- Seleção de Categorias -->
        <ng-container *ngIf="categories$ | async as categories">
          <div class="mb-3">
            <label class="form-label fw-bold">Categories</label>
            <select class="form-control" name="categories" [(ngModel)]="selectedCategories" multiple>
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
        </ng-container>
    
        <!-- Visibilidade -->
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="isVisible" [(ngModel)]="blogPost.isVisible" name="isVisible">
          <label class="form-check-label" for="isVisible">Publish this post?</label>
        </div>
    
        <!-- Botões -->
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="router.navigateByUrl('/admin/blogpost')">❌ Cancel</button>
          <button type="submit" class="btn btn-primary">💾 Save changes</button>
        </div>
      </ng-container>
    </form>
  </div>
  
  <!-- Modal para seleção de imagem -->
  <div class="image-container-modal" [ngClass]="{'d-block': isImageSelectorVisible, 'd-none': !isImageSelectorVisible}">
    <app-image-selector 
    [isVisible]="isImageSelectorVisible" 
    (imageSelected)="onImageSelected($event)"
    (modalClosed)="closeImageSelector()">
  </app-image-selector>
  </div>
  