<div class="dashboard-container">
  <!-- Perfil à esquerda -->
  <div class="profile-card">
    <div class="profile-image">
      <img [src]="displayImageUrl || 'assets/default-avatar.png'" alt="Foto de Perfil" />
    </div>
    <div class="profile-info">
      <h2>{{ profile?.fullName }}</h2>
      <p class="username">{{'@'+ profile?.userName }}</p>
      <p class="email">{{ profile?.email }}</p>

      <div class="bio" *ngIf="profile?.bio">
        <label>Bio</label>
        <p>{{ profile?.bio }}</p>
        <app-writer-sidebar (sectionChanged)="($event)"></app-writer-sidebar>
      </div>
    </div>
  </div>

  <!-- Lista de posts à direita -->
  <div class="post-list">
    <h3>Seus Posts</h3>
    <div *ngFor="let post of blogPosts" class="post-card">
      <div class="post-card">
        <img [src]="post.featuredImageUrl || 'assets/no-image.png'" alt="Imagem do post" class="post-image" />
        
        <div class="post-content">
          <h4>{{ post.title }}</h4>
          <p>{{ post.shortDescription }}</p>
          
          <div class="post-meta">
            <a [routerLink]="['/profile', post.author.userName]">
              {{ '@' + post.author.userName }}
            </a>
            <time>{{ post.publishedDate | date: 'mediumDate' }}</time>
          </div>
      
          <div class="actions">
            <a [routerLink]="['/dashboard/details', post.id]">Ver</a>
            <a [routerLink]="['/dashboard/edit', post.id]">Editar</a>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>

