<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">CodePulse</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">

        <ng-container *ngIf="user !== undefined && user?.roles?.includes('Writer')">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/admin/categories']">Categories</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/admin/blogpost']">blog posts</a></li>


            </ul>
          </li>
        </ng-container>


      </ul>
      <ng-container *ngIf="user === undefined; else showLogout">
        <a [routerLink]="['/login']" class="btn btn-outline-light">Entrar</a>

      </ng-container>
      <ng-container *ngIf="user === undefined;">
        <a [routerLink]="['/register']" class=" btn btn-outline-light ms-2">registre-se</a>

      </ng-container>
      <ng-template #showLogout>
        <div class="d-flex align-items-center gap-2">
          <div class="text-white ">{{ user?.email }}</div>
          <button class="btn btn-outline-light ms-2" (click)="onLogout()">Sair</button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
